/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* VARIABLES */
:root {
  /*Theme Colors */
  --pale-violet: hsl(276, 100%, 81%);
  --pale-light-violet: hsl(270, 37%, 93%);
  --moderate-violet: hsl(276, 55%, 52%);
  --dark-violet: hsl(271, 15%, 43%);
  --very-dark-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --grayish-blue: hsl(206, 6%, 79%);
  --grayish-pink: hsl(290, 37%, 97%);
  --light-magenta: hsl(293, 100%, 63%);
  --very-light-magenta: hsl(289, 100%, 72%);
  --light-violet: hsl(264, 100%, 61%);
  --white: hsl(0, 0%, 100%);

  /* Semantic colors */
  --app-subheading: var(--pale-violet);
  --left-chat-text: var(--moderate-violet);
  --left-chat-background: (--pale-lght-violet);
  --right-chat-text: var(--dark-violet);
  --placeholder-text: var(--grayish-blue);
  --main-heading: var(--very-dark-violet);
  --paragraph: var(--dark-grayish-violet);

  --app-background: var(--light-grayish-violet);
  --button-background: var(--very-dark-violet);
  --radio-button-outline: var(--very-light-magenta);

  /* Phone */
  --phone-height: 507px;
  --phone-width: 247px;
  --phone-shadow: 10px 6px 44px rgba(110, 93, 126, 0.5);
}

/*************** COMMON *************/
html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%; /*Based on 10px*/
}

body {
  font-size: 1.6rem;
}

/* Layout */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 540px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Typography  */
h2 {
  color: var(--main-heading);
  font-weight: 500;
  font-size: 3.6rem;
  margin-bottom: 0.5em;
}

p {
  font-weight: 400;
  line-height: 1.5em;
}

/*************** MAIN CONTENT ************/
#main-content {
  position: relative;
  min-height: 100vh;
  padding: 8rem 0px;
  overflow: hidden;
}

/* Main content background decorations */
#main-content::before,
#main-content::after {
  content: "";
  position: absolute;
  display: block;
  height: 85vh;
  min-height: 500px;
  width: 500px;
  z-index: -1;
}

#main-content::before {
  top: 0;
  left: 0;
  transform: translateX(-60%);
  border-radius: 0 0 50% 50%;
  background-image: linear-gradient(
    to bottom left,
    var(--light-magenta),
    var(--light-violet) 60%
  );
}

#main-content::after {
  bottom: 0;
  left: 100%;
  transform: translateX(-30%);
  border-radius: 50% 50% 0 0;
  background-color: var(--grayish-pink);
}

/* PHONE */
.image-col {
  margin-bottom: 8rem;
}

.phone {
  height: var(--phone-height);
  width: var(--phone-width);
  background-color: var(--app-background);
  border: 8px solid var(--white);
  box-shadow: var(--phone-shadow);
  border-radius: 30px;
  overflow: hidden;
}

/* Phone header */

.phone-header {
  position: relative;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, var(--light-violet), var(--light-magenta));
  padding: 2.8rem 1.2rem 1.2rem;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .1);

}

.phone-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1.9rem;
  width: 12.9rem;
  border-radius: 0 0 12px 12px;
  background-color: var(--white);
}

.btn-back {
  position: relative;
  display: inline-block;
  color: var(--white);
  margin-right: 1rem;
  align-self: stretch;
  /* Hide text for accessability */
  font-size: 0;
}

.btn-back::before,
.btn-back::after {
  content: "";
  height: .8rem;
  width: 2px;
  background-color: var(--white);
  position: absolute;
  border-radius: 10px;
}

.btn-back::before {
  bottom: 47%;
  left: 0;
  transform: rotate(25deg);
}

.btn-back::after{
  top: 47%;
  left: 0;
  transform: rotate(-25deg);
}

.user-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.user-signature {
  margin-left: 1rem;
}

.user-name {
  font-size: 1.3rem;
  color: var(--grayish-pink);
}

.user-status {
  font-size: 1rem;
  color: var(--app-subheading);
}

.btn-menu {
  font-size: 1.2rem;
  color: var(--white);
}

/* Messages */
.messages-container {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 1.4rem;
}

.message {
  max-width: 65%;
  font-size: .8rem;
  line-height: 1.4;
  font-weight: 400;
  padding: .6rem 1rem;
  margin-bottom: .6rem;
}

.message.left {
  color: var(--left-chat-text);
  background-color: var(--pale-light-violet);
  border-radius: 10px 10px 10px 5px;
}

.message.right {
  align-self: flex-end;
  color: var(--right-chat-text);
  background-color: var(--white);
  border-radius: 10px 10px 5px 10px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .1);
}

.message.pictures {
  width: 70%;
  max-width: unset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: unset;
  border-radius: 0;
  box-shadow: none;
}

.message.pictures img {
  width: 30%;
  border-radius: 24%;
}

.message.offer {
  display: flex;
  align-items: center;
  color: var(--light-grayish-violet);
  background-image: linear-gradient(to right, var(--light-magenta), var(--light-violet));
}

.message.offer input[type="radio"] {
  appearance: none;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid var(--light-grayish-violet);
  margin-right: 1rem;
  margin-top: -.2rem;
}

.message.offer label {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message.offer .price {
  font-size: 1.4rem;
  font-weight: 600;
  align-self: center;
}

/* Phone message input */
.message-input {
  position: relative;
  margin-top: 1.6rem;
}

.message-input input {
  width: 100%;
  padding: 1.4rem 1.8rem;
  border-radius: 30px;
  border: 0;
  font-size: 1rem;
}

.message-input input::placeholder {
  color: lightgray;
}

.message-input .btn-send {
  position: absolute;
  top: .4rem;
  right: .4rem;
  display: inline-block;
  color: white;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--main-heading);
}

/* TEXT CONTENT */
/* Text column*/

.text-col {
  text-align: center;
}

.text-content {
  color: var(--paragraph);
}

/*************** ATTRIBUTION ***********/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/************** MEDIA QUERIES ***********/

@media screen and (min-width: 1040px) {
  /* Layout */
  .container {
    max-width: 840px;
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
  }

  /*************** MAIN CONTENT ************/
  #main-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #main-content::before,
  #main-content::after {
    width: 600px;
  }

  /* Main content background decorations */
  #main-content::before {
    transform: translateX(-30%);
  }

  #main-content::after {
    transform: translateX(-70%);
  }

  /* Text column*/
  .image-col {
    display: flex;
    align-items: center;
    width: 45%;
    margin-bottom: 0;
  }

  .text-col {
    text-align: left;
    width: 55%;
  }
}
