/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* VARIABLES */
:root {
  /*Theme Colors */
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --dark-violet: hsl(271, 15%, 43%);
  --very-dark-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --grayish-blue: hsl(206, 6%, 79%);
  --grayish-pink: hsl(290, 37%, 97%);
  --light-magenta: hsl(293, 100%, 63%);
  --very-light-magenta: hsl(289, 100%, 72%);
  --light-violet: hsl(264, 100%, 61%);
  --white: hsl(0, 0%, 100%);

  /* Semantic colors */
  --app-subheading: var(--pale-violet);
  --left-chat-text: var(--moderate-violet);
  --right-chat-text: var(--dark-violet);
  --placeholder-text: var(--grayish-blue);
  --main-heading: var(--very-dark-violet);
  --paragraph: var(--dark-grayish-violet);

  --app-background: var(--light-grayish-violet);
  --button-background: var(--very-dark-violet);
  --radio-button-outline: var(--very-light-magenta);

  /* Phone */
  --phone-height: 507px;
  --phone-width: 247px;
  --phone-shadow: 10px 6px 44px rgba(110, 93, 126, 0.5);
}

/*************** COMMON *************/
html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%; /*Based on 10px*/
}

body {
  font-size: 1.6rem;
}

/* Layout */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 540px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Typography  */
h2 {
  color: var(--main-heading);
  font-weight: 500;
  font-size: 3.6rem;
  margin-bottom: 0.5em;
}

p {
  font-weight: 400;
  line-height: 1.5em;
}

/*************** MAIN CONTENT ************/
#main-content {
  position: relative;
  min-height: 100vh;
  padding: 8rem 0px;
  overflow: hidden;
}

/* Main content background decorations */
#main-content::before,
#main-content::after {
  content: "";
  position: absolute;
  display: block;
  height: 85vh;
  min-height: 500px;
  width: 500px;
  z-index: -1;
}

#main-content::before {
  top: 0;
  left: 0;
  transform: translateX(-60%);
  border-radius: 0 0 50% 50%;
  background-image: linear-gradient(
    to bottom left,
    var(--light-magenta),
    var(--light-violet) 60%
  );
}

#main-content::after {
  bottom: 0;
  left: 100%;
  transform: translateX(-30%);
  border-radius: 50% 50% 0 0;
  background-color: var(--grayish-pink);
}

/* Phone */
.image-col {
  margin-bottom: 8rem;
}

.phone {
  height: var(--phone-height);
  width: var(--phone-width);
  background-color: var(--app-background);
  border: 8px solid var(--white);
  box-shadow: var(--phone-shadow);
  border-radius: 30px;
}

/* Text column*/

.text-col {
  text-align: center;
}

.text-content {
  color: var(--paragraph);
}

/*************** ATTRIBUTION ***********/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/************** MEDIA QUERIES ***********/

@media screen and (min-width: 1040px) {
  /* Layout */
  .container {
    max-width: 840px;
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
  }

  /*************** MAIN CONTENT ************/
  #main-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #main-content::before,
  #main-content::after {
    width: 600px;
  }

  /* Main content background decorations */
  #main-content::before {
    transform: translateX(-30%);
  }

  #main-content::after {
    transform: translateX(-70%);
  }

  /* Text column*/
  .image-col {
    display: flex;
    align-items: center;
    width: 45%;
    margin-bottom: 0;
  }

  .text-col {
    text-align: left;
    width: 55%;
  }
}
